html body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: white;
   word-break: break-word;
   font-size: 14px;
   line-height: 20px;
}

* {
   box-sizing: border-box;
   outline: none;
}

$right-bar-width: 300px;

.main {
   &__header {
      position: fixed;
      left: 0;
      top: 0;
      right: $right-bar-width;
      height: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 16px;
      z-index: 1;
   }

   &__body {
      margin-top: 40px;
      height: calc(100vh - 40px - 56px);
      background-color: #e5e5e5;
      overflow-y: auto;
      overflow-x: hidden;
      margin-right: $right-bar-width;
   }

   &__chatbox {
      position: fixed;
      bottom: 0;
      left: 0;
      right: $right-bar-width;
      height: 56px;
      border-top: 1px solid #e6e6e6;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
      display: flex;
      align-items: center;
      input {
         width: 100%;
         height: 100%;
         padding: 4px 16px;
         border: none;
         background-color: transparent;
      }
      button {
         width: 80px;
         height: 40px;
         border: 1px;
         margin-right: 16px;
         background-color: black;
         color: white;
         cursor: pointer;
      }
   }

   &__error {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      background-color: #f2dede;
      position: fixed;
      left: 0;
      right: $right-bar-width;
      top: 40px;
      height: 40px;
   }
}

.main__log {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   width: calc(#{$right-bar-width} + 1px);
   border-left: 1px solid #e6e6e6;
   z-index: 99;
   background-color: white;
   &--header {
      height: 40px;
      border-bottom: 1px solid #e0e0e0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      padding: 0px 16px;
   }
   &--container {
      max-height: calc(100% - 40px);
      overflow: auto;
      padding: 8px 16px;
   }
   &--item {
      display: grid;
      padding: 6px 0px;
      .time {
         font-size: 12px;
         color: #8e8e8e;
      }
   }
}

.main__messages {
   padding: 16px 0px;
   .message-item-container {
      padding: 8px 16px;
      display: flex;
      align-items: center;
      &.me {
         justify-content: flex-end;
         .message-item {
            flex-direction: row-reverse;
            &__info {
               text-align: right;
            }
         }
      }
   }
   .message-item {
      display: flex;
      align-items: flex-start;
      width: calc(100% - 40px);
      &__avatar {
         width: 40px;
         height: 40px;
         overflow: hidden;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      &__info {
         margin: 0px 12px;
         background-color: white;
         box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
         padding: 12px 12px 6px;
         max-width: calc(100% - 160px);
         width: max-content;
         border-radius: 8px;
         display: grid;
         label {
            font-weight: bold;
            margin-bottom: 6px;
         }
         p {
            margin: 0;
         }
      }
      &__time {
         font-size: 12px;
         color: #8e8e8e;
         margin-top: 6px;
      }
      &__pending {
         font-size: 12px;
         color: #f18140;
         margin-top: 6px;
         display: flex;
         align-items: center;
         gap: 4px;
         cursor: progress;
      }
   }

   &--typing {
      margin: 8px 0px -16px;
      font-size: 12px;
      padding: 4px 8px;
      background-color: lightgrey;
      width: max-content;
      min-width: 110px;
   }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
   .main__log {
      display: none;
   }
   .main {
      &__header {
         right: 0;
      }
      &__body {
         margin-right: 0;
      }
      &__chatbox {
         right: 0;
      }
      &__error {
         right: 0;
      }
   }
}
